.button {
	background-color: #3f51b5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.table, th, td {
	border:1px solid black;
	text-align: center;
}
table.center{
	margin-left: auto;
	margin-right: auto;
}
.button:hover {
	cursor: pointer;
}
.cass{
	text-align: center;
}
.ins{
	font-size: 70px;
	font-family: "Baskerville Old Face";
	text-align: center;
}
